<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>登陆页面</title>
</head>
<body>
<br><br><br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        后台登陆
                    </div>
                </h2>
                <form class="ui large form" method="post" th:action="@{/admin/login}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登陆</button>
                    </div>

                    <div class="ui mini error message"></div>
                    <div class="ui message negative mini" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或密码错误</div>
                </form>
                <div class="ui message">
                    <div>还没有帐户? &nbsp;&nbsp;&nbsp; <a th:href="@{/register}">注册</a></div>
                    <div><a href="#" class="ui circular icon button"><i class="github icon"></i></a><a th:href="@{https://github.com/login/oauth/authorize(client_id='1572121ada7cbca3061f',redirect_uri='http://localhost/login/callback',scope='user',state=1)}">GitHub登陆</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="_fragments::script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [
                    {
                        type: 'empty',
                        prompt: '请输入用户名'
                    }
                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type: 'empty',
                        prompt: '请输入密码'
                    }
                ]
            }
        }
    });
</script>
</body>
</html>