<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <title>关于我</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)"></nav>

<!--中间内容-->
<div  class="m-container m-padded-tb-big animated fadeIn">
  <div class="ui container">

    <div class="ui stackable grid">
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="/images/pig.jpg" alt="" class="ui rounded image">
        </div>
      </div>
      <div class="five wide column">
        <div class="ui top attached segment">
          <div class="ui header">关于我</div>
        </div>
        <div class="ui attached segment">
          <p class="m-text" style="font-weight: bolder;color: #0000C0">卢忆帆，中国大数据教父</p>
          <p class="m-text">中科院计算机与生物专业博士毕业，5年大数据、人工智能开发经验，曾经任职于谷歌、微软研究院等多家企业，负责过HPE国内基地海量数据的共享与存储平台、医疗大数据存储解决方案、基于基因信息诊断模型（借助TensorFlow、Keras）的优化、华数TV视频推荐等项目，精通Hadoop、Storm/Jstorm、Spark，Flink，kafka等技术，尤其对于Spark、Flink有着独特的见解</p>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic left pointing label">编程</div>
          <div class="ui orange basic left pointing label">写作</div>
          <div class="ui orange basic left pointing label">思考</div>
          <div class="ui orange basic left pointing label">运动</div>
        </div>
        <div class="ui attached segment">
          <div class="ui teal basic left pointing label m-margin-tb-tiny">大数据</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">人工智能</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">神经网络</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">机器学习</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">密码学</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">数论</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
        </div>
        <div class="ui bottom attached segment">
          <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
          <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
          <a href="#" class="ui qq circular icon button" data-content="494403786" data-position="bottom center"><i class="qq icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition hidden">
          <img src="../static/images/pig.jpg" alt="" class="ui rounded image" style="width: 110px">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" ></footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.wechat').popup({
    popup : $('.wechat-qr'),
    position: 'bottom center'
  });
  $('.qq').popup();

</script>
</body>
</html>